@using BootStats
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">BootStats</a>
            @RenderSection("navigation", false)
            <div class="pull-right" style="line-height: 40px;">
                Ring ding dong. Ringy ding ding ding dong.
            </div>
        </div>
    </div>
</div>