
@section styles {
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
}
<i class="background-icon icon-cog"></i>
<form action="DoLogin" class="form-signin" method="POST">
    <div class="form-signin-top">
        <h4 class="form-signin-heading">BootStats - Login</h4>
        @if(Model != null && Model.success != null && Model.success == false) {
            <div class="alert alert-danger">
                Invalid username or password
            </div>
         } 
    </div>
    <div class="form-signin-bottom">
        <input type="text" class="form-control" placeholder="Username" id="username" name="username"/>
        <input type="password" class="form-control" placeholder="Password" id="password" name="password"/>
        <button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
    </div>
</form>